<%= form_for(@withdraw_record) do |f| %>
  <% if @withdraw_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@withdraw_record.errors.count, "error") %> prohibited this withdraw_record from being saved:</h2>

      <ul>
      <% @withdraw_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :bank_name %><br>
    <%= f.text_field :bank_name %>
  </div>
  <div class="field">
    <%= f.label :bank_card %><br>
    <%= f.text_field :bank_card %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
