<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @qrcode.user_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @qrcode.product_id %>
</p>

<p>
  <strong>Url:</strong>
  <%= @qrcode.url %>
</p>

<%= link_to 'Edit', edit_qrcode_path(@qrcode) %> |
<%= link_to 'Back', qrcodes_path %>
