<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
    <%= stylesheet_link_tag "bootstrap_and_overrides", :media => "all" %>
 <div class="container-fluid">
	 <div class="row">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="<%= personal_center_index_path %>">我的UBOSS</a></li>
	  <li role="presentation"><a href="<%= personal_center_my_income_path %>">收入</a></li>
	  <li role="presentation"><a href="<%= personal_center_withdraw_path %>">提现</a></li>
	</ul>
	</div>
</div>
    <%= javascript_include_tag "application" %>
 <%= javascript_include_tag "bootstrap.js" %>