<%= form_for @product, :html => { :class => "form-horizontal product" } do |f| %>

    <% if @product.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :catalog_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :catalog_id, Catalog.all.collect { |p| [ p.name, p.id ] }, include_blank: true %>
    </div>
    
  </div>
  <div class="control-group">
    <%= f.label :user_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :user_id, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:user_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :post_address_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :post_address_id, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:post_address_id]) %>
  </div>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:description]) %>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :price, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:price]) %>
  </div>
  <div class="control-group">
    <%= f.label :boss_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :boss_price, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:boss_price]) %>
  </div>
  <div class="control-group">
    <%= f.label :origin_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :origin_price, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:origin_price]) %>
  </div>
  <div class="control-group">
    <%= f.label :contract_person, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contract_person, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:contract_person]) %>
  </div>
  <div class="control-group">
    <%= f.label :contract_person_mobile, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :contract_person_mobile, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:contract_person_mobile]) %>
  </div>
  <div class="control-group">
    <%= f.label :express_price, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :express_price, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:express_price]) %>
  </div>
  <div class="control-group">
    <%= f.label :address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:address]) %>
  </div>
  <div class="control-group">
    <%= f.label :is_pass, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :is_pass, :class => 'form-control' %>
    </div>
    <%= error_span(@product[:is_pass]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            products_path, :class => 'btn btn-default' %>

<% end %>
