<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @mobile_text.username %>
</p>

<p>
  <strong>Scode:</strong>
  <%= @mobile_text.scode %>
</p>

<p>
  <strong>Mobile:</strong>
  <%= @mobile_text.mobile %>
</p>

<p>
  <strong>Content:</strong>
  <%= @mobile_text.content %>
</p>

<p>
  <strong>Extcode:</strong>
  <%= @mobile_text.extcode %>
</p>

<p>
  <strong>Sendtime:</strong>
  <%= @mobile_text.sendtime %>
</p>

<p>
  <strong>Msgid:</strong>
  <%= @mobile_text.msgid %>
</p>

<p>
  <strong>Msgtype:</strong>
  <%= @mobile_text.msgtype %>
</p>

<p>
  <strong>Signtag:</strong>
  <%= @mobile_text.signtag %>
</p>

<p>
  <strong>Temid:</strong>
  <%= @mobile_text.temid %>
</p>

<%= link_to 'Edit', edit_mobile_text_path(@mobile_text) %> |
<%= link_to 'Back', mobile_texts_path %>
