<div style="position: fixed; top: 10%; left:70%;z-index: 300; "><a href="<%= mobile_view_login_path+'?d=1' %>"><%= image_tag("to_log_buy.png", width: "90%") %></a></div>
<div style="position:relative;">
	<div><%= image_tag("about_boss_0.png", width: "100%") %></div>
	<div><%= image_tag("about_boss_1.png", width: "100%") %></div>
	<div><%= image_tag("about_boss_2.png", width: "100%") %></div>
	<div><%= image_tag("about_boss_3.png", width: "100%") %></div>
	<div><%= image_tag("about_boss_4.png", width: "100%") %></div>
	<div><%= image_tag("about_boss_5.png", width: "100%") %></div>
	<div>
	<a href="<%= mobile_view_show_product_path %>">
		<%= image_tag("about_boss_ad.png", width: "100%") %>
	</a>
	</div>	
</div>

