
<div style="position: fixed; top: 10%; left:70%;z-index: 300; "><a href="<%= mobile_view_login_path+'?d=1' %>"><%= image_tag("to_log_buy.png", width: "90%") %></a></div>
<div style="position:relative; font-size:0">
	<div style="padding:0; margin:0; border:0; font-size:0"><%= image_tag("rabbit_0.jpg", width: "100%", padding:0, border:0, margin:0) %></div>
	<div style="padding:0; margin:0; border:0; font-size:0"><%= image_tag("rabbit_3.jpg", width: "100%", padding:0, border:0, margin:0) %></div>
	<div style="padding:0; margin:0; border:0; font-size:0"><%= image_tag("rabbit_1.jpg", width: "100%", padding:0, border:0, margin:0) %></div>
	<div style="padding:0; margin:0; border:0; font-size:0"><%= image_tag("rabbit_2.jpg", width: "100%", padding:0, border:0, margin:0) %></div>
	<div style="padding:0; margin:0; border:0; font-size:0">
	<a href="<%= mobile_view_show_product_path %>"><%= image_tag("rabbit_4.png", width: "100%", padding:0, border:0, margin:0) %></div>
	<div>
	</div>	
</div>

