<div><%= image_tag("indexShow1.png", width: "100%") %></div>
<div><%= image_tag("indexShow2.png", width: "100%") %></div>
<div><%= image_tag("indexShow3.png", width: "100%") %></div>
<div><%= image_tag("indexShow4.png", width: "100%") %></div>
<div><%= image_tag("indexShow5.png", width: "100%") %></div>
<div>
<a href="#">
	<%= image_tag("indexShow5Link.png", width: "100%") %>
</a>
</div>
