<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<style type="text/css">
.fontColor{
    color:#57403b;
    font-family:"Times New Roman";
}
.lipadding{
    padding:2% 0 2% 2%;
}
.button-success {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    background: rgb(28, 184, 65); /* this is a green */
}
</style>
<%= image_tag 'rabbit_logo.png', alt:"uboss" ,width: '100%' %>
<form method="POST" action="<%= mobile_view_buy_where_path %>">
<div style="width:100%">
    <ul style="list-style: none;" class="pure-menu-list fontColor">
        <input type="hidden" name="product_id" value="<%= @product._id %>"/>
        <li class="lipadding" >名 称: <%= @product.name %></li>
        <li class="lipadding" >
            价 格: <span style="text-decoration: line-through">
                ￥<%= format("%.2f",@product.origin_price.to_f) %> </span> 
                <span style="color:red;font-size: 120%;">¥ <%= format("%.2f",@product.price.to_f) %></span></li>
                <!-- <li class="lipadding">联 系 人:<%= @product.contract_person %></li> -->
                <!-- <li class="lipadding">地 址:<%= @product.name %></li> -->
                <li class="lipadding">运 费: ¥ <%= format("%.2f",@product.express_price.to_f) %></li>
                <li class="lipadding">数 量: 
                    <button type="button" class="pure-button" ontouchstart="subNum()" style="background: rgb(230, 230, 230);"><strong>-</strong></button>
                    <input type="text" id="num" name="quantity" size="3" style="color:black;border:0px;text-align:center;font-size:20px;" value="1" readOnly="true"/>
                    <!--<label id="num" name="quantity" style="color:black">  1  </label>-->
                    <button type="button" class="pure-button" ontouchstart="addNum()" style="font-size: 100%; background: rgb(230, 230, 230); font-weight:1000"><strong>+</strong></button>
                </li>

                <li class="lipadding"><span style="color:red"><font style="color:#57403b;">合 计: </font><label style="font-size: 150%;">¥ </label><label id="total" style="font-size: 150%;"><%= format("%.2f",@product.price.to_f) %></label></span>
                </li>
            </ul>
        </div>
        <span style="padding:2% 2%"><button class="pure-button button-success" type="submit" style="font-size: 140%; padding:2% 2%">官人我要</button></span>
        </form>
<script type="text/javascript">
var price = "<%= @product.price %>";
var totalDom = document.getElementById("total");
var numDom = document.getElementById("num");
var num = numDom.value;
var total = price*num*1.00;
totalDom.innerText = total.toFixed(2);
    //增加数量
    function addNum(){
        num ++;
        total = price*num*1.00;
        totalDom.innerText = total.toFixed(2);
        numDom.value = num;
    }

    //减少数量
    function subNum(){
        num --;
        if (0 == num){
            num = 1;
        }
        total = price*num*1.00;    
        totalDom.innerText = total.toFixed(2);;
        numDom.value = num;
    }

    </script>