<%= form_for @account, :html => { :class => "form-horizontal account" } do |f| %>

    <% if @account.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @account.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :total, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :total, :class => 'form-control' %>
    </div>
    <%= error_span(@account[:total]) %>
  </div>
  <div class="control-group">
    <%= f.label :currency, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :currency, :class => 'form-control' %>
    </div>
    <%= error_span(@account[:currency]) %>
  </div>
  <div class="control-group">
    <%= f.label :other, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :other, :class => 'form-control' %>
    </div>
    <%= error_span(@account[:other]) %>
  </div>
  <div class="control-group">
    <%= f.label :plus, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :plus, :class => 'form-control' %>
    </div>
    <%= error_span(@account[:plus]) %>
  </div>
  <div class="control-group">
    <%= f.label :massage, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :massage, :class => 'form-control' %>
    </div>
    <%= error_span(@account[:massage]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
            accounts_path, :class => 'btn btn-default' %>

<% end %>
